//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "variables";

body {
    padding-top: 100px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 3px;
    padding-right: 3px;
}

a.list-group-item {
    border: 1px solid #272B30;
    background-color: #303438;
    color: white;
}

.categories-list-wrapper {
    padding-right: 10px;
}

.form-control {
    border-width: 2px;
    color: #000;

    //@include placeholder(green);
}

.help-block {
    display: none;
}

.has-error {
    .help-block {
        display: block;
    }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: default;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .control-label {
    padding-right: 10px;
}

.tags-and-info a:hover {
    text-decoration: underline;
}

.btn {
    outline: none !important;
}

.btn-default:not(.btn-primary).active,
.pager>li>a:active {
    background: darken($btn-default-bg, 10%);
}

.btn-floating,
.btn-floating:focus {
    position: absolute;
    box-shadow: none;
    border: none;
}

.btn-upvote.active,
.btn-downvote.active,
.btn-fave.active {
    border: none !important;
}


.btn-upvote.active {
    color: #8DE600 !important;
}

.btn-downvote.active {
    color: #FF6200 !important;
}
.btn-fave.active {
    color: red !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -8px;
    }
}

.well h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

// buttons
.well .form-group:last-child {
    margin-top: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.input-group input[type=text] {
    border-left: 0;
}

.input-group-btn .btn {
    padding: 7px 12px;
}

.btn-loadmore {
    width: 300px;
    margin: 50px auto;
    font-size: 15px;
    background: #3274e5;
}

.btn-loadmore:hover {
    background: #244387;
}

.tiptop {
    position: absolute;
    z-index: 1040;
    max-width: 300px;
    padding: 5px;
    font-size: 13px;
    color: #fff;
    background: rgba(34, 34, 34, 0.7);;
    border-radius: 3px;
}

#stats-iframe {
    position: absolute;
    top: -3000px;
}