.entrance {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.entrance .col-lg-9 {
    padding-right: 30px;
}

.entrance .reset-link {
    color: #C8C8C8;
    font-size: 13px;
    position: relative;
    top: -7px;
}