#feedback-modal {

    .modal-header {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .modal-body {
        border-top: 0;
        padding: 10px 40px 0 10px;
    }

    .modal-footer {
        text-align: right;
        padding-left: 10px;
        border-top: 0;
        padding-top: 10px;
        padding-bottom: 40px;
    }

}

#feedback-modal .modal-dialog {
    width: 550px;
}