#gallery-modal {

    text-align: center;

    .modal-content {
        display: inline-block;
    }

    .modal-dialog {
        display: inline-block;
        width: auto;
    }

    h1 {
        padding: 5px 0px;
        margin-bottom: 5px;
        max-width: 600px;
        line-height: 1.2em;
    }

    .tags-and-info {
        padding: 10px 0;
        padding-top: 0;
        text-align: left;
    }

    .btn-comments {
        border: 1px solid #2E3338;
    }

    &.no-next {
        .gif-protector {
            cursor: default;
        }
    }

    &.no-next .btn-next,
    &.no-prev .btn-prev {
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: none;
        color: white;
    }

    &.no-stream .btn-next,
    &.no-stream .btn-prev {
        display: none;
    }

    .btn-prev {
        left: 48px;
    }

}

.gifster-mobile {
    .btn-prev,
    .btn-next {
        display: none;
    }
}

#url-tooltip {
    background: rgba(34, 34, 34, 0.7);
    position: absolute;
    top: 200px;
    left: 740px;
    z-index: 999999;
    padding: 6px;
    border-radius: 6px;
    display: none;

    .form-group {
        margin-bottom: 0;

        input {
            width: 250px;
        }
    }
}

