.gif-create {
    max-width: 100%;
    width: 550px;
    margin: auto;

    .form-group-mature {
        margin-bottom: 0;
        margin-top: -8px;

        label {
            font-weight: normal;
            margin-left: 4px;
        }
    }
}