@import "variables";

.gif-post {
    padding: 20px 20px 10px 20px;
}

.gif {
    display: inline-block;
    position: relative;

    h1 {
        text-align: left;
        color: #FFF;
        margin-bottom: 5px;
        padding: 5px 0;
        font-size: 18px;
        margin-top: 0;

        &.less-important {
            color: #5C5D5F;
        }
    }

    .tags a {
        margin-right: 8px;
        color: #A7A7A7;
        float: left;

        .hashtag {
            margin-right: 1px;
        }
    }

}

.gif-body {
    display: inline-block;
    position: relative;
    padding: 0;
    padding-bottom: 10px;

    .gif-content {
        background-color: darken($modal-content-bg, 3%);

        iframe {
            display: block;
        }

        img {
            width: 100%;
        }
    }

    .gif-protector {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        cursor: pointer;
    }

}

.gifster-mobile {
    .gif-protector {
        display: none;
    }
}

.gif-content {
    display: inline-block;
}

.tags-and-info {

    h3.tag {
        font-size: inherit;
        display: inline-block;
        margin: 0;
    }

    line-height: 1.5em;

    & > a,
    & > span {
        margin-right: 4px;
        text-decoration: none;
        color: #C8C8C8;
    }

    .from-user,
    .author,
    .score {
        float: right;
        color: #949494;
        &.highlighted {
            color: white;
        }
    }
    .from-user {
        margin-left: 12px;
        .glyphicon {
            margin-right: 1px;
            top: 1px;
            font-size: 11px;
        }
    }

    .score {
        .glyphicon {
            margin-right: 1px;
            top: 0px;
            font-size: 12px;
        }
    }

    .author {
        margin-left: 6px;
        .glyphicon {
            font-size: 13px;
            margin-right: 0px;
            top: 2px;
        }
    }
}

.btn-share-container {
    text-align: center;
    padding: 20px;
}

.btn-share {
    padding: 7px 15px;
    border: none;
    &.active {
        box-shadow: none;
    }
}

.share-btns {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 100px;
}

.share-chat {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.share-chat .control-label {
    margin-right: 7px;
    font-weight: normal;
}

.share-chat .form-control {
    width: 230px;
    display: inline-block;
}

.share-area {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
    height: 0;
    overflow: hidden;

    .pluso-more {
        display: none !important;
    }
}

.share-area.open {
    height: 80px;
}