.jumbotron-container {
    padding: 0 0;
}

.container .jumbotron {
    padding: 40px 10px;
    padding-bottom: 5px;
    text-align: center;
    padding-top: 55px;
}

.gifster-mobile .container .jumbotron {
    border-radius: 0;
}

.jumbotron {
    border: none;

    .gif-protector {
        cursor: default;
    }

    .gif-post {
        padding: 0;
    }
}

.jumbotron-thumbs {
    display: none;
}

@media (min-width: 1200px) {
    .jumbotron-thumbs {
        display: block;
    }
}

.jumbotron .btn-floating {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.jumbotron .btn-upvote,
.jumbotron .btn-downvote,
.jumbotron .btn-fave {
    top: -47px;
    border-radius: 4px;
}

.jumbotron .btn-upvote {
    left: 0;
}

.jumbotron .btn-downvote {
    left: 42px;
}

.jumbotron .btn-fave {
    left: 84px;
}

.jumbotron .btn-close {
    display: none;
}

.jumbotron .btn-next-container {
    position: absolute;
    margin-top: -40px;
    right: -130px;
}

.jumbotron .gif-body {
    padding: 0;
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    .jumbotron-container {
        padding: 0 5px;
    }
    .container .jumbotron {
        padding: 40px 100px;
        padding-bottom: 15px;
        text-align: center;
    }
    .jumbotron .btn-upvote,
    .jumbotron .btn-downvote,
    .jumbotron .btn-fave {
        left: -54px;
    }

    .jumbotron .btn-upvote {
        top: 0;
        border-radius: 4px 4px 0 0;
    }

    .jumbotron .btn-downvote {
        top: 37px;
        border-radius:  0 0 4px 4px;
    }

    .jumbotron .btn-fave {
        top: 87px;
    }

    .jumbotron .tags-and-info {
        margin-bottom: 10px;
    }
}

.jumbotron .tags-and-info {
    padding: 10px 0;
    padding-top: 0;
    text-align: left;
}

.jumbotron-content {
    position: relative;
    width: auto;
    display: inline-block;
}