
.modal {
    height: 100%;
    overflow: auto;
    cursor: pointer;
    background-color: rgba(14, 15, 17, 0.95);
    -webkit-transition: all .2s ease-out !important;
    -o-transition: all .2s ease-out !important;
    transition: all .2s ease-out !important;
}

.modal .modal-dialog {
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    cursor: default;
}

.modal .modal-dialog.animate {
    -webkit-transition: all .4s ease-out !important;
    -o-transition: all .4s ease-out !important;
    transition: all .4s ease-out !important;
}

.modal .modal-dialog.go-left {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    opacity: 0;
}

.modal .modal-dialog.go-right {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    opacity: 0;
}

.modal .btn-upvote {
    top: -49px;
    left: 20px;
}

.modal .btn-downvote {
    top: -49px;
    left: 63px;
}

.modal .btn-fave {
    top: -49px;
    left: 106px;
}

.modal .btn-close {
    right: 20px;
    top: -49px;
}

@media (min-width: 960px) {

    .modal .btn-upvote {
        top: 18px;
        left: -60px;
        border-radius: 4px 4px 0 0;
    }

    .modal .btn-downvote {
        top: 55px;
        left: -60px;
        border-radius:  0 0 4px 4px;
    }

    .modal .btn-fave {
        left: -60px;
        top: 105px;
    }

    .modal .btn-close {
        right: -60px;
        top: 18px;
    }
}

.modal .modal-content {
    box-shadow: none;
    border: none;
}

.modal .modal-footer {
    position: relative;
    border-top: none;
    text-align: center;
}
