/*
@font-face {
    font-family: 'Junegull';
    src: local('../junegull/Junegull-Regular'), url('../junegull/junegull-regular.woff2') format('woff2'), url('../junegull/junegull-regular.woff') format('woff'), url('../junegull/junegull-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.gifster {
    font-family: 'Junegull';
    font-size: 36px;
    position: relative;
    top: 3px;
    padding-left: 7px;
    background-image: url('../img/background2.png');
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    background-size: 100% 50px;
    background-position: 0 0;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased;
}
*/
@import "variables";

.navbar-brand {
    height: 56px;
    padding: 0 15px;
    cursor: pointer;
}

#main-logo {
    img {
        width: 145px;
        -webkit-filter: saturate(2);
        filter: saturate(2);
    }
}

.navbar-brand:hover {
    background: #22272b;
}

.navbar-brand:active {
    background: #26292D;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -13px;
    }
}

.navbar-search-form {
    margin-top: 10px;
    position: relative;

    input {
        border-color: #3E4348;
        padding: 0px 12px;
        padding-right: 30px;
        line-height: 35px;
        height: 35px;
        &:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
    }

    .glyphicon {
        margin-right: 0;
        position: absolute;
        right: 28px;
        top: 11px;
        color: #7A8288;
        text-shadow: none;
    }
}

.navbar-brand img {
    width: 145px;
    position: relative;
    top: 14px;
}

.nav>li>a {
    color: #D8D9D9;
}

.navbar-nav>li>a {
    line-height: 26px;
}

.navbar .navbar-nav>li>a:hover {
    background: #22272b;
    border-left: 1px solid rgba(255,255,255,0.1);
}

.navbar-nav>li.active>a,
.navbar .navbar-nav>li>a:active {
    background: #31353A !important;
}

.navbar {
    border: none;
    z-index: 1064;
}

.navbar-nav>li.active>a {
    border-left: 1px solid rgba(255,255,255,0.1);
}

.navbar .navbar-nav>li:last-child>a {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.navbar-nav .glyphicon {
    margin-right: 5px;
}

.navbar-nav .glyphicon-menu-hamburger {
    margin-right: 0;
}

.navbar-nav .glyphicon-plus {
    margin-right: 5px;
}

.navbar-nav .glyphicon-leaf {
    position: relative;
    top: 2px;
}

.navbar-nav .glyphicon-user {
    top: 2px;
}

.navbar-nav input[type="checkbox"] {
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.navbar-nav .dropdown-menu {
    label {
        font-weight: normal;
        display: inline-block;
        margin-bottom: 0;
        cursor: pointer;
    }
}

.navbar-nav .dropdown-menu>li>a {
    padding: 6px 17px;
}

.navbar-nav input[type="checkbox"] {
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.navbar-nav .main-menu-button {
    display: none;
}

@media (min-width: 990px) {
    .navbar-nav .main-menu-button {
        display: block;
    }
}

.navbar-nav {
    display: none;
}

.navbar-nav .container {
    position: relative;
}

@media (min-width: 770px) {
    .navbar-nav {
        display: block;
    }
    .navbar .all-nav-buttons-opener {
        display: none;
    }
}

.navbar .all-nav-buttons-opener {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 22px;
    padding: 14px 13px 10px 13px;
    color: #D8D9D9;
}