.gifster-mobile {
    .btn-next,
    .btn-next-container,
    .btn-prev {
        display: none;
    }
}

.btn-next-container {
    position: fixed;
    top: 50%;
    margin-top: -14px;
    right: 48px;
    width: 80px;
    height: 80px;
    background: rgba(48, 105, 202, 0.15);
    text-align: center;
    line-height: 77px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}

.btn-prev,
.btn-next {
    position: fixed;
    top: 50%;
    font-size: 20px;
    line-height: normal;
    padding: 10px 12px;
    border-radius: 50%;
    margin-top: 0px;
}

.btn-next,
.btn-next.btn-floating:focus {
    position: static;
    margin-top: 1px;
}

.btn-next,
.btn-next:focus {
    background: #3274e5;
    background: linear-gradient(to bottom,#4d8eff 0,#2a61bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d8eff', endColorstr='#2a61bf', GradientType=0);
    border-bottom: 1px solid #1f478c;
}

.btn-next-container:hover .btn-next,
.btn-next:hover {
    background: #3874DB;
}

.btn-next-container:active .btn-next,
.btn-next-container.active .btn-next {
    background: #2160CC !important;
    border-color: black !important;
}

.btn-next.pulsating:after {
    content: '';
    border: 10px solid #5cbafb;
    background: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    -webkit-animation: pulsate 2s ease-out;
    -moz-animation: pulsate 2s ease-out;
    animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.5);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0.6);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.7);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.6);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.7);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.6);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.7);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}