.search-container {
    margin-bottom: 40px;
    display: none;
}

@media (min-width: 800px) {
    .search-container {
        display: block;
    }
}

.search-container .form-group {
    text-align: center;
    position: relative;
    padding-right: 57px;
    max-width: 569px;
    margin: auto;
}

.search-container input {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px 0 0 4px;
    border-color: white;
    &:focus {
        border-color: #66afe9;
    }
}

.search-container input:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 21px;
    padding-bottom: 13px;
    font-size: 17px;
    color: #D8D9DA;
    border-radius: 0 4px 4px 0;
    margin: 0;
    vertical-align: baseline;
    border: none;

    &.ready-to-search {
        background: #3274e5;
        background: linear-gradient(to bottom, #4d8eff 0, #2a61bf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d8eff', endColorstr='#2a61bf', GradientType=0);
        &:hover {
            background: #3874DB;
        }
        &:active {
            background: #2160CC;
        }
    }
}

.search-container .form-control {
    padding: 24px 12px;
    padding-bottom: 23px;
    border-width: 2px;
    box-sizing: border-box;
}

.gifster .tagit-autocomplete.ui-widget-content {
    border-color: #66afe9;
    border-radius: 2px;
}

.gifster .tagit-autocomplete.ui-menu .ui-menu-item {
    padding: 5px;
    border: 1px solid #FFF;
}

.ui-helper-hidden-accessible {
    display: none;
}