.thumb {
    margin-bottom: 6px;
}

a.thumbnail {
    padding: 0;
}

@media (min-width: 800px) {
    a.thumbnail {
        padding: 2px;
    }
}

a.thumbnail,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

a.thumbnail:hover {

}

.thumbnail .img {
    display: block;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.thumbnail .cat-title {
    line-height: 245px;
}

@media (min-width: 992px) {
    .thumbnail .img {
        height: 217px;
    }
    .thumbnail .cat-title {
        line-height: 217px;
    }
}

@media (min-width: 1200px) {
    .thumbnail .img {
        height: 189px;
    }
    .thumbnail .cat-title {
        line-height: 189px;
    }
}

.thumbnail .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.75);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
    opacity: 1;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    color: #F3F3F3;
    font-size: 13px;
    font-weight: 300;
    padding-left: 7px;
    padding-top: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 6px;
    display: block;
    white-space: nowrap;
}

.thumbnail .loading {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 27px;
    height: 27px;
    background: url(/imgs/gears.svg) center no-repeat;
    background-size: cover;
    opacity: 0;
    -webkit-transition: all 500ms ease-out 250ms;
    -moz-transition: all 500ms ease-out 250ms;
    -o-transition: all 500ms ease-out 250ms;
    transition: all 500ms ease-out 250ms;
    display: none;
}

.thumbnail:hover .header,
.thumbnail:hover .loading {
    opacity: 1;
}

.thumbnail .tags {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-left: 7px;
    padding-top: 14px;
    padding-right: 7px;
    line-height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#bf000000', GradientType=0) /* IE6-9 */;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#bf000000', GradientType=0) /* IE6-9 */;
    font-size: 13px;
    text-decoration: none;
    color: #F3F3F3;
    font-weight: 300;
}

.thumbnail .tags > span {
    margin-right: 4px;
}

.thumbnail .hashtag {
    margin-right: 1px;
    font-size: 12px;
}

.thumbnail .cat-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    background: rgba(0,0,0,0.5);
    font-size: 18px;
    text-transform: uppercase;
}

.thumbnail .cat-title span {
    display: inline-block;
    line-height: normal;
    border-bottom: 1px dotted #D8D9D9;
    border-top: 1px dotted #D8D9D9;
    padding-top: 4px;
    padding-bottom: 4px;
}