.welcome-banner {
    width: 100%;
    height: 90px;
    background: #23282C;
    margin-top: -44px;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1px;

    h1 {
        margin: 0;
        font-size: 22px;
        color: #FFF;
        padding-top: 21px;
        font-weight: 300;
        width: 100%;
        display: block;
        padding-bottom: 5px;
    }
}